/* font-family: 'Roboto', sans-serif;
Light 300
Regular 400
Medium 500
Bold 700 */

/* --------common style START---------- */
:root {
    --primary-font: 'Roboto', sans-serif;
    --radical-red: #FF214F;
    --nero: #1C1C1C;
    --suva-gray: #919191;
    --bright-gray: #EBEBEB;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bright-gray);
    font-family: var(--primary-font);
}

.container{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 25px;
}

/* --------common style END---------- */

/* ----------- nav bar style----------- */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

nav > h1{
    font-size: 30px;
    font-weight: 600;
    color: var(--nero);
}
nav > ul{
    display: flex;
    list-style: none;
    gap: 24px;
}

nav > ul > li > a{
    text-decoration: none;
    color: var(--nero);
    font-size: 16px;
    font-weight: 400;
}

.common-section-1{
    background-color: red;
    padding-top: 14rem;
    padding-bottom: 14rem;
}